/** NOTE: Define your color palette here */

:root {
  --box-shadow: #c7fff8;
  --medium-green: #0dc5c1;
  --teal: #00b2ca;
  --light-gray: #d5d8e2;
  --dark-gray: #333333;
}

/** NOTE: Define your fonts here */

@font-face {
  font-family: 'Primary';
  src: url('/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ArticleHeading';
  src: url('/fonts/OpenSans/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PageHeading';
  src: url('/fonts/ZCOOL/ZCOOLQingKeHuangYou-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

.App {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }

main {
  flex-grow: 1; }

.header-flex {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  background: linear-gradient(to right, #2e268e, #26547c);
  background: var(--medium-green);
}

.header-name {
  color: #ffffff;
  font-family: 'PageHeading';
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

#site-nav ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none; }
  #site-nav ul li {
    padding: 0 0 0 2em; }

#site-footer {
  display: flex;
  flex-flow: column nowrap;
  background: var(--teal);
  align-items: flex-end;
  width: 100%;
  padding: 2.5em; }
  #site-footer small {
    padding: 1em 0; }
  #site-footer #social-media-nav {
    color: #333333;
    font-family: "Lato" !important; }
    #site-footer #social-media-nav ul {
      display: flex;
      flex-flow: row wrap;
      list-style: none;
      justify-content: flex-end; }
      #site-footer #social-media-nav ul li {
        padding: 0 0 0 1em; }
        #site-footer #social-media-nav ul li a svg {
          color: #333333; }
        #site-footer #social-media-nav ul li a:hover svg::before {
          content: '';
          cursor: pointer !important; }
